.job-input-form {
	border: gray solid 1px;
	border-radius: 5px;
	margin: 1rem;
	margin-top: 3rem;

	.accordion-button {
		background-color: #ff4181;
		color: white;
	}

	input {
		// height: 140%;
	}
}
