.footer-button {
	background-color: #419197;
}

.footer {
	background-color: #f2f6fd;
	border-top: 1px solid gray;
	.footer-row {
		padding: 3rem;
		padding-inline: 0.5rem;
		.left-col {
			div {
				p {
					color: black;
					font-family: poppins, sans-serif;
					font-weight: 600;
					font-size: 1.5rem;
					margin-bottom: 0;
					display: inline-block;
					padding: 1rem;
				}
				p:first-child {
					color: #ff4181;
					font-family: poppins, sans-serif;
					font-weight: 600;
					font-size: 1.5rem;
					padding-left: 0.5rem;
					margin-bottom: 0;
					display: inline-block;
				}
				.sub-title {
					font-size: 14px;
					padding-top: 0;
					color: #6c7c8e;
					font-size: 16px;
					font-weight: 300;
					padding-left: 2.1rem;
					padding-right: 7rem;
				}
				div {
					padding-left: 1.5rem;
					img {
						margin: 0.5rem;
					}
				}
			}
		}
		.right-col-footer {
			font-size: 16px;
		}
	}
	.trademark {
		background-color: #f2f6fd;
		p {
			font-size: 10px;
			text-align: center;
		}
	}
}
