.align-center-col {
	display: flex;
	align-items: center;
	justify-content: center;
}

.medium-text {
	font-weight: 300;
	font-family: poppins, sans-serif;
}

.large-text {
	font-weight: 800;
	font-size: xxx-large;
	font-family: poppins, sans-serif;
}

.text {
	font-family: poppins, sans-serif;
}

.pink-text {
	color: #ff4181;
}

.blue-text {
	color: #05264e;
}

.light-blue-text {
	color: #6c7c8e;
}

.medium-blue-text {
	color: #66789c;
}

.label {
	margin-bottom: 0 !important;
	vertical-align: middle !important;
	margin-top: 0 !important;
	padding: 0.25rem;
}

.input {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.horizontal-block {
	background-color: blue;
	padding: 3rem;
}

.text-700 {
	font-weight: 700;
}

.text-600 {
	font-weight: 600;
}

.text-500 {
	font-weight: 500;
}

.text-400 {
	font-weight: 400;
}

.text-300 {
	font-weight: 300;
}

.text-200 {
	font-weight: 200;
}

.text-12 {
	font-size: 12px;
}

.text-14 {
	font-size: 14px;
}

.text-16 {
	font-size: 16px;
}
.text-22 {
	font-size: 22px;
}
.text-24 {
	font-size: 24px;
}

.text-26 {
	font-size: 22px;
}
